@model IEnumerable<CarTool.ViewModels.CarModelViewModel>
@{
    ViewBag.Title = "Index";

    WebGrid webGrid = new WebGrid(source: Model);
}

<h2>Car Models</h2>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Search</a>
        </div>
        <div class="collapse navbar-collapse">
            @using (Html.BeginForm("Models", "CarModels", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
            {
                <div class="form-group">
                    <input type="text" name="search" value="@ViewBag.search" class="form-control" placeholder="search" />
                </div>
                <button type="submit" value="Search" class="btn btn-success">Search</button>
            }
        </div>
        <div>
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        </div>
    </div>
</nav>

@webGrid.GetHtml(
    htmlAttributes: new { @id = "modelsGrid", @class = "Grid" },
    columns: webGrid.Columns(
        webGrid.Column("ModelName", "Model Name"),
        webGrid.Column("ModelDescription", "Description"),
        webGrid.Column("Price", "Price"),
        webGrid.Column("Picture", format: @<img src="data:image/jpeg;base64,@CarTool.Controllers.CarModelsController.ConvertByteArrayToBase64(item.Picture)" width="150">),
        webGrid.Column("LineName", "Line"),
        webGrid.Column(header: "Edit", format: @<text><a href="~/CarModels/Edit/@item.ModelID">Edit</a></text>),
        webGrid.Column(header: "Details", format: @<text><a href="~/CarModels/Details/@item.ModelID">Details</a></text>),
        webGrid.Column(header: "Delete", format: @<text><a href="~/CarModels/Delete/@item.ModelID">Delete</a></text>)
))