@{
    ViewBag.Title = "Car Tool";
}
<div>
    <h3>Welcome to the Car Tool - Manage Toyota Lines and Models</h3>
</div>
<div>
    <p>
        You can view our vehicle @Html.ActionLink("lines", "Index", "Lines") and see the car models in each line, or you can see @Html.ActionLink("all our models", "Models", "CarModels"). 
    </p>
</div>